<%= form_with(model: order_item, local: true) do |form| %>
  <% if order_item.errors.any? %>
    <div id="error_explanation">
      <f-snack :errors="<%= order_item.errors.full_messages.to_s %>"></f-snack>
    </div>
  <% end %>

  <div class="form">
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.text_field :order_id, class: "input is-medium", placeholder: "Order id" %>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.text_field :merchandise_id, class: "input is-medium", placeholder: "Merchandise id" %>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.number_field :quantity, class: "input is-medium", placeholder: "Quantity" %>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <%= form.submit class: "button is-primary" %>
      </p>
      <p class="control">
        <%= link_to 'Back', order_items_path, class: "button is-light" %>
      </p>
    </div>
  </div>
<% end %>
