<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <title>FeedEm</title>
  <link rel="icon" href="/img/logo.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="vue">
  <% if customer_signed_in? %>
    <b><%= csrf_meta_tag %></b>
    <f-navbar :user="<%= current_customer.to_json %>" :token="'<%= session[:_csrf_token] %>'"></f-navbar>
  <% else %>
    <f-navbar></f-navbar>
  <% end %>
  <% if notice %>
    <f-snack :errors="['<%= notice %>']"></f-snack>
  <% end %>
  <% if alert %>
    <f-snack :errors="['<%= alert %>']"></f-snack>
  <% end %>
<%= yield %>
</div>
</body>
</html>
