<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <title>FeedEm</title>
  <link rel="icon" href="/img/logo.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="super-token" content="<%= session[:_csrf_token] %>">
  <meta name="turbolinks-cache-control" content="no-cache">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="pageloader is-left-to-right" id="pageloader">
  <img src="/img/logo.png">
  <span class="title">Feedem loading</span>
</div>
<div class="vue">
  <% if customer_signed_in? %>
    <f-navbar :user="<%= current_customer.to_json %>"   :is_admin_signed_in="<%= admin_signed_in? %>"></f-navbar>
  <% elsif seller_logged_in? %>
      <f-navbar :seller="<%= current_seller.to_json %>" :is_admin_signed_in="<%= admin_signed_in? %>"></f-navbar>
  <% else %>
    <f-navbar :is_admin_signed_in="<%= admin_signed_in? %>"></f-navbar>
  <% end %>

  <% if notice %>
    <f-snack :errors="['<%= notice %>']"></f-snack>
  <% end %>
  <% if alert %>
    <f-snack :errors="['<%= alert %>']"></f-snack>
  <% end %>
  <%= yield %>
</div>
<%- if request.fullpath == "/welcome/merch" or request.fullpath == "/welcome/sellers" or request.fullpath == "/" %>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Feedem</strong> by <a href="https://github.com/kolaer">Maxim Naumov</a>(Backend) and <a href="https://github.com/s3rius">Pavel Kirilin</a>(Frontend). The source code is open on <a href="https://github.com/s3rius/feedEm/">github</a>.
    </p>
    <a href="https://bulma.io">
      <img src="/img/bulma-footer.png" width="128" height="48" alt="Made with Bulma">
    </a>
    on
    <a href="https://rubyonrails.org/">
      <img src="/img/rails.png" width="48", height="48" alt="Rails">
    </a>
  </div>
</footer>
<% end %>
</body>
</html>
