<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <f-snack :errors="<%= admin.errors.full_messages.to_s %>"></f-snack>
    </div>
  <% end %>

  <div class="form">
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.text_field :email, class: "input is-medium", placeholder: "Email" %>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.password_field :password, class: "input is-medium", placeholder: "Password" %>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.password_field :password_confirmation, class: "input is-medium", placeholder: "Password confirmation" %>
      </div>
    </div>


    <div class="field is-grouped">
      <p class="control">
        <%= form.submit class: "button is-primary" %>
      </p>
      <p class="control">
        <%= link_to 'Back', admins_path, class: "button is-light" %>
      </p>
    </div>
  </div>
<% end %>
