<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <f-error-snack :errors="<%= card.errors.full_messages.to_s %>"></f-error-snack>
    </div>
  <% end %>

  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :customer_id, class: "input is-medium", placeholder: "Customer id" %>
    </div>
  </div>

  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :number, class: "input is-medium", placeholder: "Card number" %>
    </div>
  </div>

  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :cvv, class: "input is-medium", placeholder: "CVV Code" %>
    </div>
  </div>

  <div class="field">
    <div class="control has-icons-left has-icons-right">
        <b-datepicker
          placeholder="Expire date"
          name="card[expire]"
          icon="calendar-today">
        </b-datepicker>
    </div>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <%= form.submit class: "button is-primary" %>
    </p>
    <p class="control">
      <%= link_to 'Back', cards_path, class: "button is-light" %>
    </p>
  </div>
<% end %>
