<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @card.customer %>
</p>

<p>
  <strong>Number:</strong>
  <%= @card.number %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @card.cvv %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @card.expire %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
