<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <div id="error_explanation">
        <f-snack :errors="<%= order.errors.full_messages.to_s %>"></f-snack>
      </div>
    </div>
  <% end %>

  <div class="form">
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.text_field :customer_id, class: "input is-medium", placeholder: "Customer id" %>
      </div>
    </div>

    <div class="field">
        <div class="control has-icons-left has-icons-right">
          <%= form.text_field :seller_id, class: "input is-medium", placeholder: "Seller id" %>
        </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.datetime_select :time, class: "" %>
      </div>
    </div>

    <div class="field">
        <div class="control has-icons-left has-icons-right">
          <%= form.text_field :card_id, class: "input is-medium", placeholder: "Customer card id" %>
        </div>
    </div>

    <div class="field">
        <div class="control has-icons-left has-icons-right">
          <%= form.text_field :status, class: "input is-medium", placeholder: "Order status" %>
        </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
