<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Time:</strong>
  <%= @order.time %>
</p>

<p>
	<strong>Card:</strong>
	<%= @order.card %>
</p>

<p>
	<strong>Seller:</strong>
	<%= @order.seller %>
</p>

<p>
	<strong>Status:</strong>
	<%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
