<%= form_with(model: seller, local: true) do |form| %>
  <% if seller.errors.any? %>
    <div id="error_explanation">
      <f-error-snack :errors="<%= seller.errors.full_messages.to_s %>"></f-error-snack>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :likes %>
    <%= form.number_field :likes %>
  </div>

  <div class="field">
    <%= form.label :dislikes %>
    <%= form.number_field :dislikes %>
  </div>

  <div class="field">
    <%= form.label :auth_token %>
    <%= form.text_field :auth_token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
