<%= form_with(model: merchandise, local: true) do |form| %>
  <% if merchandise.errors.any? %>
      <div id="error_explanation">
        <f-snack :errors="<%= merchandise.errors.full_messages.to_s %>"></f-snack>
      </div>
  <% end %>

  <div class="form">
    <% if admin_signed_in? %>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.text_field :seller_id, class: "input is-medium", placeholder: "Seller id" %>
      </div>
    </div>
    <% else %>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input type="hidden" value="<%= current_seller.id %>" name="merchandise[seller_id]" id="merchandise_seller_id">
      </div>
    </div>
    <% end %>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.text_field :name, class: "input is-medium", placeholder: "Name" %>
      </div>
    </div>


    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.text_area :description, class: "input is-medium", placeholder: "Description" %>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.number_field :price, class: "input is-medium", placeholder: "Price (Cents)" %>
      </div>
    </div>


    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <%= form.number_field :cook_time, class: "input is-medium", placeholder: "Cook time (minutes)" %>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <%= form.submit class: "button is-primary" %>
      </p>
      <p class="control">
        <%= link_to 'Back', merchandises_path, class: "button is-light" %>
      </p>
    </div>
  </div>
<% end %>
