<%= form_with(model: merchandise, local: true) do |form| %>
  <% if merchandise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merchandise.errors.count, "error") %> prohibited this merchandise from being saved:</h2>

      <ul>
      <% merchandise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seller_id %>
    <%= form.text_field :seller_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :cook_time %>
    <%= form.number_field :cook_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
