<f-title :title='"Merchandises"'></f-title>

  <table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Seller</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Cook time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchandises.each do |merchandise| %>
      <tr>
        <td><%= merchandise.seller.id %></td>
        <td><%= merchandise.name %></td>
        <td><%= merchandise.description %></td>
        <td><%= merchandise.price %></td>
        <td><%= merchandise.cook_time %></td>
        <td><%= link_to 'Show', merchandise %></td>
        <td><%= link_to 'Edit', edit_merchandise_path(merchandise) %></td>
        <td><%= link_to 'Destroy', merchandise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to 'New Merchandise', new_merchandise_path, class: "button is-primary" %>
